.navbar {
    background-color: #563D7C;
}

.nav .navbar {
    color: #CDBFDF;
}

.navbar-inverse .navbar-brand, .navbar-brand:hover, .navbar-nav>li>a:hover {
    color: #FFF;
}

.navbar-inverse .navbar-nav>li>a {
    color: #CDBFDF;
}

.navbar-toggle {
    border: none;
}

.navbar-toggle .icon-bar {
    background-color: #FFF
}

.navbar-inverse .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: #463265;
}

.navbar-inverse .navbar-collapse {
	border-top-color: #442673;
}
